# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env

# Logs
logs/
*.log

# Docker
*.envrc
docker-compose.override.yml

# Sequelize
*.sqlite
migrations/*.js
seeders/*.js

# Mac OS
.DS_Store

# VSCode
.vscode/